<script language="javascript">
  var subscribeToTopics = function(){
    $(document).foundation();
    var topics = ['#film, #movie, #austin'];
    console.log('Subscribing to topics',topics);
    io.socket.post('/subscribe',{topics:topics});
    io.socket.on('tweet',function(someTweet){
      console.log('got a tweet',someTweet);
      var tweetSpot = document.getElementById('tweet-spot');
      var incomingTweet = '<br><div>'+'<br><b>'+someTweet.user+'</b>: '+someTweet.tweet+'</div>';
      tweetSpot.innerHTML = incomingTweet + tweetSpot.innerHTML;
    });
  }
  window.onload=subscribeToTopics;

</script>

<!-- Icon Bar -->

<!-- <div class="icon-bar medium-up-5">
  <a class="item">
    <i class="fi-home"></i>
    <label>Home</label>
  </a>
  <a class="item">
    <i class="fi-bookmark"></i>
    <label>Bookmark</label>
  </a>
  <a class="item">
    <i class="fi-info"></i>
    <label>Info</label>
  </a>
  <a class="item">
    <i class="fi-mail"></i>
    <label>Mail</label>
  </a>
  <a class="item">
    <i class="fi-like"></i>
    <label>Like</label>
  </a>
</div> -->
<!-- http://foundation.zurb.com/sites/docs/v/5.5.3/components/icon-bar.html -->

  <!-- Tweets -->
<div class="tweets">
  <div class="main-header">
    <h1>Tweets</h1>
    <h4><a href="https://twitter.com/search?f=tweets&vertical=news&q=%23film&src=typd" targer="_blank">#Film</a> | <a href="https://twitter.com/search?f=tweets&vertical=news&q=%23film&src=typd" targer="_blank">#Movie</a> | <a href="https://twitter.com/search?f=tweets&vertical=news&q=%23film&src=typd" targer="_blank">#Austin</a></h4>
  </div>
  <div id="tweet-spot"></div>
</div>
<br><br>
<!-- Some Fav Movie Posters -->
<div class="films">
  <div class="main-header">
    <h1>Some Good Films</h1>
    <h5><a href="http://foundation.zurb.com/grid.html" target="_blank"> Utilizing the Foundation Grid</a></h5>
  </div>
  <div class="row">
    <div class="medium-3 columns"><a href="http://www.imdb.com/title/tt1120985/?ref_=fn_al_tt_1" target="_blank"><img src="/images/blue-valentine.jpg" alt=""></a></div>
    <div class="medium-3 columns"><a href="http://www.imdb.com/title/tt1120985/?ref_=fn_al_tt_1" target="_blank"><img src="/images/american-beauty.jpg" alt=""></a></div>
    <div class="medium-3 columns"><a href="http://www.imdb.com/title/tt1120985/?ref_=fn_al_tt_1" target="_blank"><img src="/images/fifth-element.jpg" alt=""></a></div>
    <div class="medium-3 columns"><a href="http://www.imdb.com/title/tt1120985/?ref_=fn_al_tt_1" target="_blank"><img src="/images/donnie-darko.jpg" alt=""></a></div>
  </div>
  <div class="row">
    <div class="medium-3 columns"><a href="http://www.imdb.com/title/tt1120985/?ref_=fn_al_tt_1" target="_blank"><img src="/images/eternal-sunshine.jpg" alt=""></a></div>
    <div class="medium-3 columns"><a href="http://www.imdb.com/title/tt1120985/?ref_=fn_al_tt_1" target="_blank"><img src="/images/attack-the-block.jpg" alt=""></a></div>
    <div class="medium-3 columns"><a href="http://www.imdb.com/title/tt1120985/?ref_=fn_al_tt_1" target="_blank"><img src="/images/inglourious-basterds.jpg" alt=""></a></div>
    <div class="medium-3 columns"><a href="http://www.imdb.com/title/tt1120985/?ref_=fn_al_tt_1" target="_blank"><img src="/images/let-the-right-one-in.jpg" alt=""></a></div>
  </div>
  <div class="row">
    <div class="medium-3 columns"><a href="http://www.imdb.com/title/tt1120985/?ref_=fn_al_tt_1" target="_blank"><img src="/images/old-boy.jpg" alt=""></a></div>
    <div class="medium-3 columns"><a href="http://www.imdb.com/title/tt1120985/?ref_=fn_al_tt_1" target="_blank"><img src="/images/spring-breakers.jpg" alt=""></a></div>
    <div class="medium-3 columns"><a href="http://www.imdb.com/title/tt1120985/?ref_=fn_al_tt_1" target="_blank"><img src="/images/night-of-living.jpg" alt=""></a></div>
    <div class="medium-3 columns"><a href="http://www.imdb.com/title/tt1120985/?ref_=fn_al_tt_1" target="_blank"><img src="/images/mad-max.jpg" alt=""></a></div>
  </div>
  <div class="row">
    <div class="medium-3 columns"><a href="http://www.imdb.com/title/tt1120985/?ref_=fn_al_tt_1" target="_blank"><img src="/images/pink-flamingos.jpg" alt=""></a></div>
    <div class="medium-3 columns"><a href="http://www.imdb.com/title/tt1120985/?ref_=fn_al_tt_1" target="_blank"><img src="/images/secretary.jpg" alt=""></a></div>
    <div class="medium-3 columns"><a href="http://www.imdb.com/title/tt1120985/?ref_=fn_al_tt_1" target="_blank"><img src="/images/memento.jpg" alt=""></a></div>
    <div class="medium-3 columns"><a href="http://www.imdb.com/title/tt1120985/?ref_=fn_al_tt_1" target="_blank"><img src="/images/victoria.jpg" alt=""></a></div>
  </div>
  <a href="http://drafthousefilms.com/about" target="_blank"><img src="/images/dhf-logo.png" alt="Drafthouse Films logo" class="img-header"></a>
  <div class="row">
    <div class="medium-3 columns"><a href="http://www.imdb.com/title/tt1120985/?ref_=fn_al_tt_1" target="_blank"><img src="/images/spring__small.jpg" alt=""></a></div>
    <div class="medium-3 columns"><a href="http://www.imdb.com/title/tt1120985/?ref_=fn_al_tt_1" target="_blank"><img src="/images/four-lions__small.jpg" alt=""></a></div>
    <div class="medium-3 columns"><a href="http://www.imdb.com/title/tt1120985/?ref_=fn_al_tt_1" target="_blank"><img src="/images/moodindigo__small.jpg" alt=""></a></div>
    <div class="medium-3 columns"><a href="http://www.imdb.com/title/tt1120985/?ref_=fn_al_tt_1" target="_blank"><img src="/images/congress__small.jpg" alt=""></a></div>
  </div>
</div>

